<div class="container-fluid">
  <strong>Obs: Ao baixar o arquivo renomeie o .false por .rar</strong>
  <div  class="d-flex">
    <!-- Card -->
      <table class="table table-striped table-responsive-md btn-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Lote</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
         
            <tr *ngFor="let lote of lotes">
              <th scope="row">{{lote.id}}</th>
              <td>Lote {{lote.numero}}</td>
              <td>{{lote.descricao}}</td>
              <td>  <a *ngIf="user.lote >= lote.numero || user.nivel == 0"  mdbBtn color="indigo" (click)="fazerDownload(lote.id)"  size="sm" mdbWavesEffect type="button" class="m-0">Download</a></td>
            
            </tr>
         
        </tbody>
      </table>
</div>
</div>