   <div class="container-fluid">
    <div  class="row">
    

<!--Card-->
<mdb-card *ngFor="let post of posts_niveis"   class="card-image mb-3 mx-2 col-xs-12 col-md-3"   >

 
  <!--Card image-->
  <div class="view overlay waves-light" mdbWavesEffect>

    <mdb-card-img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3PtO3gjYKF3B_v2ZPWHw5syl01XAeETupYTlHtTdkwDhHi4NJ&usqp=CAU"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <mdb-card-body>
 

    <!--Title-->
    <mdb-card-title>
      <h4>{{post.titulo}}</h4>
    </mdb-card-title>

    <hr>

    <!--Text-->
    <mdb-card-text>
      {{post.resumo}}
    </mdb-card-text>

    <a (click)="btnClick(post.id)" class="link-text" >
      <h5 class="waves-light" mdbWavesEffect>Leia Mais
        <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
      </h5>

    </a>
  </mdb-card-body>
  <!--/.Card content-->
</mdb-card>

<!--/.Card-->
      <!-- Card -->
    </div>
  </div>

    
