   <div class="container-fluid">
    <div  class="d-flex">
      <div class="row justify-content-md-center">

        <!-- Post Content Column -->
        <div class="col-lg-8">
  
          <!-- Title -->
          <h1 class="mt-4 center">{{post.titulo}}</h1>
          <hr>
          <hr>
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3PtO3gjYKF3B_v2ZPWHw5syl01XAeETupYTlHtTdkwDhHi4NJ&usqp=CAU" alt="">
  
          <hr>
          <p>
          <markdown ngPreserveWhitespaces>
          {{post.texto}}
        </markdown>
        </p>
        </div>
        </div>
        </div>


  </div>

    
