   <div class="container-fluid">
    <div  class="row">
      <!-- Card -->
        <!-- Grid column -->
      <div class="col-md-6 mb-4" *ngFor="let capitulo of capitulosUsuario">
      <mdb-card 
        style="background-image: url({{ environment + (capitulo.imagem[0].url) }})"
        class="card-image mb-3 mx-2"
      >
      
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div style=" width: 100%;word-wrap: break-word;">
            <h5 class="{{capitulo.cor}}-text">
              <mdb-icon fas icon="chart-pie"></mdb-icon>
              {{capitulo.titulo}}
            </h5>
            <h3 class="font-weight-bold"><strong>{{capitulo.subtitulo}}</strong></h3>
            <p style="white-space: pre-line;">
              {{capitulo.resumo}}
            </p>
            <button mdbBtn (click)="btnClick(capitulo.id);" color="{{capitulo.cor}}" class="waves-light">
              <mdb-icon far icon="clone" class="left"></mdb-icon>
              Entrar</button>
          </div>
        </div>
        <!-- Content -->
      </mdb-card>
      </div>
      <!-- Card -->
    </div>
  </div>

    
